.about {
    background: #F5F8FF;
    padding: 100px 0 72px 0;
    @include for-tablet-portrait {
        padding: 40px 0 50px 0;
    }
    @include for-phone-portrait {
        padding: 30px 0 40px 0;
    }
    &__wrapper {
        margin-right: 140px;
        @include for-desk {
            margin-right: 0;
        }
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include for-tablet-landscape {
            flex-direction: column;
        }
    }

    &__title {
        position: relative;
        padding-left: 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 130%;
        text-transform: uppercase;
        color: #424242;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 4px;
            background: #4164F7;
            border-radius: 2px;
        }
        @include for-tablet-portrait {
            font-size: 36px;
        }
        @include for-phone-portrait {
            font-size: 27px;
            padding-left: 12px;
        }
    }

    &__text {
        max-width: 1210px;
        width: 100%;
        p {
            margin-top: 35px;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 130%;
            color: #646464;
            &:nth-child(1) {
                margin-top: 0;
            }
            @include for-tablet-portrait {
                font-size: 18px;
            }
        }
        @include for-desk {
            max-width: 840px;
        }
        @include for-tablet-landscape {
            margin-top: 20px;
            max-width: 100%;
        }
    }
}
