.header {

    &__wrapper {
        padding: 22px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav {
    }

    &__items {
        display: flex;
    }

    &__item {
        margin-left: 115px;
        &:nth-child(1) {
            margin-left: 0;
        }
        &_active {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background-color: #4164F7;
            }
        }
        @include for-desk {
            margin-left: 50px;
        }
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #373737;
    }

    &__dropdown {
        margin-left: 115px;
    }
}
