.overlays {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 600;
    transition: .3s all;
}

.overlays_active {
    opacity: 1;
    visibility: visible;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 30;
    text-align: center;
    padding: 55px 31px 44px 44px;
    border-radius: 10px;
    transition: 1s all;
    z-index: 100;
    background: #FFFFFF;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1);
    border-radius: 27px;

    &_active {
        display: block;
        opacity: 1;
    }

    &__content {
    }

    &__header {
        margin-bottom: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        text-align: left;
        color: #292929;
    }

    &__close {
        cursor: pointer;
    }

    &__form {
        display: grid;
        grid-template-columns: 650px;
        grid-auto-rows: 80px;
        gap: 27px;
    }

    &__input {
        padding: 27px 27px 28px 27px;
        border: 1px solid #D5D5D5;
        border-radius: 13px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #292929;
        &::placeholder {
            color: #646464;
        }
    }

    &__file {
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__file-title {
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #646464;
    }

    &__bottom {
        margin-top: 38px;
    }

    &__btn {
        padding: 20px 61px;
        background-color: transparent;
        border: 2px solid #4164F7;
        border-radius: 13px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #4164F7;
        transition: 0.3s all;
        &:hover {
            background-color: #4164F7;
            color: #FFFFFF;
        }
        @include for-phone-portrait {
            margin-top: 35px;
            padding: 16px 20px;
        }
    }
}
